/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 21 мая 2023 г., 18:30:30
    Author     : Administrator
*/


body {
    background-color: #308f96;
    font-family: Trebuchet MS, Helvetica;
}
table {
                margin-left: auto;
                margin-right: auto;
                margin-top: 190px;
                width: 90%;
                border: none;
                margin-bottom: 20px;
                border-collapse: separate;
            }


            th {
                font-size: 17px;
                font-weight: normal;
                background: #31315c;
                border-top: 4px solid #7c7182;
                border-bottom: 1px solid white;
                color: window;
                padding: 8px;
                border: none;
            }

            td {
                background: #4e78ba;
                border: none;
                border-bottom: 1px solid white;
                color: window;
                border-top: 1px solid transparent;
                padding: 8px;
            }

            tr:hover td {
                background: #75a3eb;
            }

            form {
                margin-left: 100px;
            }

            input[type="submit"] {
                padding: 10px 20px;
                background-color: #669;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

a {
    line-height: 5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.4em;
    color: #06085c;
    display: block;
    transition: all ease-out 300ms;
}
